<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>AmpixKordinátor</title>
      <link href="\style.css" rel="stylesheet">
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
</head>
<body>
      <div class="routebg bg-gray-900">
            <div class="routeplace" id="routeplace">
                  <h1 id="route"><%= title %></h1>
                  <p id="routename" class="hide"><%= routename %></p>
            </div>
      </div>
      <ul class="stations" id="vonalak">
            <li id="teszt" class="bg-slate-800 hide">Betöltés...</li>
      </ul>
      <script src="\script.js"></script>
</body>
</html>