@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
      background-color: #333;
      color: white;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      align-items: center;
      transition: 1.5s;
}

.stations li{
      list-style: none;
      text-shadow: black 1px 1px 1px;
      font-size: xx-large;
      margin-bottom: 5px;
      border-radius: 10px;
}

#route {
      color: white;
      font-size: xx-large;     
      text-align: center;
}

.hide {
      display:none;
}

.routebg {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 20px;
}

.routeplace {
      margin-left: 5%;
      margin-right: 90%;
      border-radius: 15px;
      margin-top: 5px;
}